.container {
  width: 700px;
  margin: 0 auto;
}

.title {
  margin: 15px 0;
  font-size: 40px;
  text-align: center;
}

.textarea {
  width: 100%;
  margin-bottom: 15px;

  resize: none;
}

.keyboard {
  padding: 8px 5px;
  display: flex;
  flex-direction: column;

  text-transform: uppercase;

  background-color: #102338;
  border-radius: 5px;
}

.row {
  display: flex;
  margin-bottom: 4px;
}

.row:last-child {
  margin-bottom: 0;
}

.button {
  min-width: 40px;
  height: 40px;
  margin: 2px;

  color: white;
  background-color: rgba(255, 255, 255, 0.075);

  border: none;
  border: 1px solid #089FFF;
  border-radius: 4px;

  cursor: pointer;

  transition: 0.4s;
}

.button:hover {
  background-color: rgba(187, 198, 233, 0.726);
}

.button:active {
  transform: translateY(4px);
}

.capslock-on {
  text-transform: uppercase;
}

.button.highlighted {
  transform: translateY(4px);
  background-color: #089FFF;
}

.Backspace,
.Tab,
.Backslash,
.CapsLock,
.Enter,
.ShiftLeft {
  flex-basis: 100%;
}

.Space {
  flex-basis: 200%;
}

.capslock_highlighted {
  background-color: #089FFF;
}

.info {
  padding-top: 20px;
  text-align: center;
}